<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/img/logo.png"
        alt="image"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      College
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Media</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
