<nav class="navbar sticky-top navbar-expand-md py-3 navbar-light bg-white">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="/assets/img/logo.png"
        alt="image"
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
      College
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <div class="conatiner">
      <input type="text" [(ngModel)]="enteredText">
      <button (click)="onBtnClick()">CLick</button>
    </div> -->
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Academics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Alumni</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Facilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Hospital</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link active" href="#">Careers</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link active" href="#">Contact us</a>
        </li>
      </ul>
      <button type="button" class="login-btn">Login</button>
    </div>
  </div>
</nav>
